@{
    ViewData["Title"] = "Home Page";
}

<!-- Jumbotron -->
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Bienvenue sur le site de PC</h1>
        <p class="lead">Trouvez ici tous les ordinateurs et accessoires pour satisfaire vos besoins en informatique.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">En savoir plus</a>
    </div>
</div>

<!-- Cards -->
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="card">
                <img class="card-img-top" src="https://picsum.photos/300/200" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Ordinateurs portables</h5>
                    <p class="card-text">Découvrez notre sélection d'ordinateurs portables performants pour travailler ou jouer.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <img class="card-img-top" src="https://picsum.photos/300/200"
            </div>
        </div>
    </div>
</div>