@{
    ViewData["Title"] = "Home Page";
}

<!-- Jumbotron -->
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Bienvenue sur le site de PC</h1>
        <p class="lead">Trouvez ici tous les ordinateurs pour satisfaire vos besoins en informatique.</p>
    </div>
</div>

<!-- Cards -->
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="card">
                <img class="card-img-top" src="/lib/1.jpg" alt="pc msi">
                <div class="card-body">
                    <h5 class="card-title">PC PORTABLE GAMER MSI GF63 THIN11SC-613XFR I5-11È 8GO, GTX 1650, ECRAN 15.6" FHD 144HZ</h5>
                    <p class="card-text">2 389,000DT</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <img class="card-img-top" src="~/lib/2.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">PC PORTABLE GAMER ASUS TUF FX506HF-HN014W,I5-11ÈME, 8GO, RTX2050, ÉCRAN 15.6" 144HZ</h5>
                    <p class="card-text">
                        2 389,00DT
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <img class="card-img-top" src="~/lib/3.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">PC GAMER SUR MESURE ALPHA-SONYA BLADE, RYZEN 5 5650GE, 16GO, 500 GO SSD</h5>
                    <p class="card-text">
                        1 299,000DT
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>