@{
    ViewData["Title"] = "Home Page";
}

<!-- Jumbotron -->
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Bienvenue sur le site de PC</h1>
        <p class="lead">Trouvez ici tous les ordinateurs et accessoires pour satisfaire vos besoins en informatique.</p>
    </div>
</div>

<!-- Cards -->
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="card">
                <img class="card-img-top" src="/lib/1.jpg" alt="pc msi">
                <div class="card-body">
                    <h5 class="card-title">PC PORTABLE GAMER MSI GF63 THIN11SC-613XFR I5-11È 8GO, GTX 1650, ECRAN 15.6" FHD 144HZ</h5>
                    <p class="card-text">2 389,000DT</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <img class="card-img-top" src="https://picsum.photos/300/200" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Ordinateurs portables</h5>
                    <p class="card-text">Découvrez notre sélection d'ordinateurs portables performants pour travailler ou jouer.</p>
                </div>
            </div>
        </div>
    </div>
</div>